<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context"
                    name="configurable-logger.logger-file-name-pattern"
                    source="configurable-logger.logger-file-name-pattern"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="defaultAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="defaultAppender"/>
    </root>

    <appender name="JsonFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application-%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <logger name="org.zalando.logbook" level="TRACE" additivity="false">
        <appender-ref ref="JsonFile"/>
    </logger>
</configuration>
